.login-wrap {
  background: url('@/assets/images/login/login-bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-view {
    padding: 10px 25px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 8px;
    .title {
      font-size: 26px;
      font-weight: bold;
      text-align: center;
    }
    .login-button {
      display: flex;
      justify-content: center;
    }
  }
}
